/* base */
*,*::before,
*::after {
    box-sizing: border-box;
}

*.prohibit {
  color: var(--neutral_color-600);
  pointer-events: none;
  cursor: not-allowed;
}

*:disabled {
  pointer-events: none;
}

body {
    font-family: var(--global-font);
    line-height: var(--tw-label-line-height);
    letter-spacing: var(--tw-letter-spacing);
    color: var(--neutral_color-900);
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
  color: var(--neutral_color-900);
  text-decoration: none;
}

a:hover {
  color: var(--primary_color-500);
}

/* 容器 */
[class*="container"] {
  padding-left: var(--spacing-s);
  padding-right: var(--spacing-s);
}

.container {
  max-width: var(--container);
  margin: 0 auto;
}

.container-fluid {
  width: var(--container-fluid);
}

/* 表頭 */
.navigationBar-link {
  font-weight: var(--tw-weight-500);
  text-decoration: none;
}

.member-login {
  display: block;
  padding: var(--spacing-s);
  margin-left: auto;
}

.member-login img {
  width: 18px;
}