/* base */
*,*::before,
*::after {
    box-sizing: border-box;
}

*.prohibit {
  color: $neutral_color-600;
  pointer-events: none;
  cursor: not-allowed;
}

*:disabled {
  pointer-events: none;
}

*:hover {
  transition: all 0.3s ease;
}

body {
    font-family: $global-font;
    line-height: $tw-label-line-height;
    letter-spacing: $tw-letter-spacing;
    color: $neutral_color-900;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
  color: $neutral_color-900;
  text-decoration: none;
  &:hover {
    color: $primary_color-500;    
    img {
      opacity: 0.8;
    }
  }
}


/* 容器 */
[class*="container"] {
  padding-left: $spacing-s;
  padding-right: $spacing-s;
}

.container {
  max-width: $container;
  margin: 0 auto;
}

.container-fluid {
  width: $container-fluid;
}