/* base */
*,*::before,
*::after {
    box-sizing: border-box;
}

*.prohibit {
  color: $neutral_color-600;
  pointer-events: none;
  cursor: not-allowed;
}

*:disabled {
  pointer-events: none;
}

body {
    font-family: $global-font;
    line-height: $tw-label-line-height;
    letter-spacing: $tw-letter-spacing;
    color: $neutral_color-900;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
  color: $neutral_color-900;
  text-decoration: none;
}

a:hover {
  color: $primary_color-500;
}

/* 容器 */
[class*="container"] {
  padding-left: $spacing-s;
  padding-right: $spacing-s;
}

.container {
  max-width: $container;
  margin: 0 auto;
}

.container-fluid {
  width: $container-fluid;
}

/* 表頭 */
.navigationBar-link {
  font-weight: $tw-weight-500;
  text-decoration: none;
}

.member-login {
  display: block;
  padding: $spacing-s;
  margin-left: auto;
}

.member-login img {
  width: 18px;
}