/* 背景顏色 */
.bg-primary-200 {
  background-color: $primary_color-200;
}

.bg-primary-100 {
  background-color: $primary_color-100;
}

.bg-neutral-white {
  background-color: $neutral_color-white;
}

.bg-neutral-100 {
  background-color: $neutral_color-100;
}

.bg-neutral-900 {
  background-color: $neutral_color-900;
}

.border-top-1 {
  border-top: 1px solid $neutral_color-300;
}