// 框線
.border {
  border: 1px solid $neutral_color-900;
}

// 圓角
.borderRadius-0 {
  border-radius: 0;
}

.borderRadius-4 {
  border-radius: $radius-sm;
}

.borderRadius-12 {
  border-radius: $radius-md;
}

@media (max-width: 720px) {
  .borderRadius-md-0 {
    border-radius: 0;
  }

  .borderRadius-md-4 {
    border-radius: $radius-sm;
  }

  .borderRadius-md-12 {
    border-radius: $radius-md;
  }
}

@media (max-width: 540px) {
  .borderRadius-sm-0 {
    border-radius: 0;
  }

  .borderRadius-sm-4 {
    border-radius: $radius-sm;
  }

  .borderRadius-sm-12 {
    border-radius: $radius-md;
  }
}