/* 顯示屬性 */
.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

@media (max-width: 720px) {
  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }

  .d-md-flex {
    display: flex;
  }

  .f-md-direction-column {
    flex-direction: column;
  } ;

  .f-md-reverse-row {
    flex-direction: row-reverse;
  }

  .f-md-noWrap {
    flex-wrap: nowrap;
  }

  .f-md-shrink {
    flex-shrink: 0;
  }
}

@media (max-width: 540px) {
  .d-sm-none {
    display: none;
  }

  .d-sm-block {
    display: block;
  }
}