/* 顯示屬性 */
.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}

.f-grow {
  flex-grow: 1;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

@media (max-width: 720px) {
  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }

  .d-md-flex {
    display: flex;
  }

  .f-md-wrap {
    flex-wrap: wrap;
  }

  .f-md-direction-column {
    flex-direction: column;
  } ;

  .f-md-reverse-row {
    flex-direction: row-reverse;
  }

  .f-md-noWrap {
    flex-wrap: nowrap;
  }

  .f-md-shrink {
    flex-shrink: 0;
  }

  .f-md-grow {
    flex-grow: 1;
  }

  .justify-content-space-between-md {
    justify-content: space-between;
  }
}

@media (max-width: 540px) {
  .d-sm-none {
    display: none;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-flex {
    display: flex;
  }

  .f-sm-wrap {
    flex-wrap: wrap;
  }

  .f-sm-direction-column {
    flex-direction: column;
  } ;

  .f-sm-reverse-row {
    flex-direction: row-reverse;
  }

  .f-sm-noWrap {
    flex-wrap: nowrap;
  }

  .f-sm-shrink {
    flex-shrink: 0;
  }

  .f-sm-grow {
    flex-grow: 1;
  }  

  .justify-content-space-between-sm {
    justify-content: space-between;
  }

  .order-sm-1 {
    order: 1;
  }
}