/* 顯示屬性 */
.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

@media (max-width: 768px) {
  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }

  .f-md-reverse-row {
    flex-direction: row-reverse;
  }
}

@media (max-width: 576px) {
  .d-sm-none {
    display: none;
  }

  .d-sm-block {
    display: block;
  }
}