// 溢出
.overflow {
    overflow: hidden;
}

.overflow-y {
    overflow-y: scroll;
}

@include pad {
    .overflow-md {
        overflow: hidden;
    }

    .overflow-md-y {
        overflow-y: scroll;
    }
}