// 定位
.p-absolute {
    position: absolute;
}

.p-relative {
    position: relative;
}

@include pad {
    .p-md-absolute {
        position: absolute;
    }

    .p-md-relative {
        position: relative;
    }
}