// 尺寸
.w-15 {
  width: 15%;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

@include pad {
  .w-md-15 {
    width: 15%;
  }

  .w-md-50 {
    width: 50%;
  }

  .w-md-100 {
    width: 100%;
  }
}

@include moblie {
  .w-sm-15 {
    width: 15%;
  }

  .w-sm-50 {
    width: 50%;
  }

  .w-sm-100 {
    width: 100%;
  }
}