<!-- 導覽列 -->
<nav class="container d-flex align-items-center py-16 py-sm-12">
    <!-- 主選單 -->
    <h1>
        <a href="index.html" class="navigationBar-link me-48">
            <img src="/assets/images/logo.svg" alt="LOGO">
        </a>
    </h1>
    <ul class="d-flex align-items-center">
        <li>
            <a href="product-list.html" class="navigationBar-link d-block me-40 py-12">商品列表</a>
        </li>
        <li>
            <a href="product-story.html" class="navigationBar-link d-block py-12">品牌故事</a>
        </li>
    </ul>
    <!-- 會員登入 -->
    <a href="login.html"  class="member-login">
        <img src="/assets/images/person.svg" alt="會員登入">
    </a>
</nav>