// 按鈕
.btn {
  background-color: transparent;
  border: 0 none transparent;
  border-radius: $spacing-xxs;
  font-family: $global-font;
  font-size: $tw-label-md;
  font-weight: $tw-weight-500;
  line-height: $tw-label-line-height;
  letter-spacing: $tw-letter-spacing;
  text-align: center;
  padding-top: $spacing-s;
  padding-bottom: $spacing-s;
  padding-left: $spacing-l;
  padding-right: $spacing-l;
  cursor: pointer;
  display: block;
  &:hover {
    background-color: $neutral_color-100;
  }
}

.btn-primary {
  background-color: $primary_color-300;
  color: $neutral_color-900;
  &:hover {
    background-color: $primary_color-300;
    color: $primary_color-500;
  }
}

.btn-dark {
  background-color: $neutral_color-900;
  color: $neutral_color-white;
  &:hover {
    background-color: $neutral_color-700;
  }
}

.btn-white {
  background-color: $neutral_color-white;
  border: 1px solid $neutral_color-900;
  &:hover {
    background-color: $neutral_color-900;
    color: $neutral_color-white;
  }
}

@include pad {
  .btn-neutral-filled {
    padding-top: $spacing-xs;
    padding-bottom: $spacing-xs;
    padding-left: $spacing-m;
    padding-right: $spacing-m;
  }
}