// 基礎版格線系統 / p-24px (L:12px / R:12px)
.row {
  display: flex;
  margin-left: $spacing-s * -1;
  margin-right: $spacing-s * -1;
}

[class*="col-"] {
    padding-left: $spacing-s;
    padding-right: $spacing-s;
}

.col {
  width: calc(100%/12);
}

.col-2 {
  width: calc(100%/12*2);
}

.col-3 {
  width: calc(100%/12*3);
}

.col-4 {
  width: calc(100%/12*4);
}

.col-5 {
  width: calc(100%/12*5);
}

.col-6 {
  width: calc(100%/12*6);
}

.col-7 {
  width: calc(100%/12*7);
}

.col-8 {
  width: calc(100%/12*8);
}

.col-10 {
  width: calc(100%/12*10);
}

.col-12 {
  width: 100%;
}

// 電腦版格線系統 / p-24px (L:12px / R:12px)
@media (max-width: 960px) {
  .row-lg {
    display: flex;
    margin-left: $spacing-s * -1;
    margin-right: $spacing-s * -1;
  }
  
  [class*="col-lg-"] {
      padding-left: $spacing-s;
      padding-right: $spacing-s;
  }
  
  .col-lg {
    width: calc(100%/12);
  }
  
  .col-lg-2 {
    width: calc(100%/12*2);
  }
  
  .col-lg-3 {
    width: calc(100%/12*3);
  }
  
  .col-lg-4 {
    width: calc(100%/12*4);
  }
  
  .col-lg-5 {
    width: calc(100%/12*5);
  }
  
  .col-lg-6 {
    width: calc(100%/12*6);
  }
  
  .col-lg-7 {
    width: calc(100%/12*7);
  }
  
  .col-lg-8 {
    width: calc(100%/12*8);
  }
  
  .col-lg-10 {
    width: calc(100%/12*10);
  }
  
  .col-lg-12 {
    width: 100%;
  }
}

// 平版格線系統 / p-24px (L:12px / R:12px)
@media (max-width:720px) {
  .row-md {
    margin-left: $spacing-s * -1;
    margin-right: $spacing-s * -1;
  }

  [class*="col-md-"] {
      padding-left: $spacing-s * 1;
      padding-right: $spacing-s * 1;
  }

  .col-md {
    width: calc(100%/12);
  }

  .col-md-2 {
    width: calc(100%/12*2);
  }

  .col-md-3 {
    width: calc(100%/12*3);
  }

  .col-md-4 {
    width: calc(100%/12*4);
  }

  .col-md-5 {
    width: calc(100%/12*5);
  }

  .col-md-6 {
    width: calc(100%/12*6);
  }

  .col-md-7 {
    width: calc(100%/12*7);
  }

  .col-md-8 {
    width: calc(100%/12*8);
  }

  .col-md-10 {
    width: calc(100%/12*10);
  }

  .col-md-12 {
    width: 100%;
  }

  // .col-md-2 {
  //   width:calc(100%/4*2);
  // }

  // .col-md-4 {
  //   width: 100%;
  // }

  // .col-md-6 {
  //   width: calc(100%/12*6);
  // }

  .col-md-12 {
    width: 100%;
  }
}

// 平版格線系統 / p-12px (L:6px / R:6px)
// @media (max-width:720px) {
//   .row-12px-md {
//     margin-left: $spacing-xxs * -1.5;
//     margin-right: $spacing-xxs * -1.5;
//   }

//   [class*="col-12px-md-"] {
//       padding-left: $spacing-xxs * 1.5;
//       padding-right: $spacing-xxs * 1.5;
//   }

//   .col-12px-md-2 {
//     width:calc(100%/4*2);
//   }

//   .col-12px-md-4 {
//     width: 100%;
//   }
// }

// 電腦版格線系統 / p-8px (L:4px / R:4px)
  // .row-8px {
  //     margin-left: $spacing-xxs * -1.5;
  //     margin-right: $spacing-xxs * -1.5;
  // }

  // [class*="col-8px-"] {
  //     padding-left: $spacing-xxs * 1.5;
  //     padding-right: $spacing-xxs * 1.5;
  // }

  // .col-8px-2 {
  //   width:calc(100%/12*2);
  // }

  // .col-8px-4 {
  //   width:calc(100%/12*4);
  // }

  // .col-8px-6 {
  //   width: calc(100%/12*6);
  // }

  // .col-8px-12 {
  //   width: 100%;
  // }

// 平版格線系統 / p-8px (L:4px / R:4px)
// @media (max-width: 720px) {
//   .row-8px-md {
//       margin-left: $spacing-xxs * -1.5;
//       margin-right: $spacing-xxs * -1.5;
//   }

//   [class*="col-8px-md-"] {
//       padding-left: $spacing-xxs * 1.5;
//       padding-right: $spacing-xxs * 1.5;
//   }

//   .col-8px-md-2 {
//     width:calc(100%/4*2);
//   }

//   .col-8px-md-4 {
//     width: 100%;
//   }
// }


// // 其他商品行動版格線系統
// @media (max-width: 720px) {
//     .row-product-md {
//         margin-left: $spacing-xs * -1;
//         margin-right: $spacing-xs * -1;
//     }

//     .col-product-md-3 {
//         width: 300px;
//         padding-left: $spacing-xs;
//         padding-right: $spacing-xs;
//     }
// }