/* 網格系統 */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: $spacing-s-burden;
  margin-right: $spacing-s-burden;
}

[class*="col-"] {
    padding-left: $spacing-s;
    padding-right: $spacing-s;
}

.col {
  width: calc(100%/12);
}

.col-2 {
  width: calc(100%/12*2);
}

.col-3 {
  width: calc(100%/12*3);
}

.col-4 {
  width: calc(100%/12*4);
}

.col-5 {
  width: calc(100%/12*5);
}

.col-7 {
  width: calc(100%/12*7);
}

.col-8 {
  width: calc(100%/12*8);
}

.col-10 {
  width: calc(100%/12*10);
}

.col-12 {
  width: 100%;
}

@media (max-width:768px) {
  .col-md-2 {
    width:calc(100%/4*2);
  }

  .col-md-4 {
    width: 100%;
  }
}

@media (max-width: 576px) {
  [class*="col-sm-"] {
      padding-left: $spacing-xxs;
      padding-right: $spacing-xxs;
  }

  .col-sm-2 {
    width:calc(100%/4*2);
  }

  .col-sm-4 {
    width: 100%;
  }
}