// 基礎版格線系統 / p-24px (L:12px / R:12px)
.row {
  display: flex;
  margin-left: $spacing-s * -1;
  margin-right: $spacing-s * -1;
}

[class*="col-"] {
    padding-left: $spacing-s;
    padding-right: $spacing-s;
}

.col {
  width: calc(100%/12);
}

.col-2 {
  width: calc(100%/12*2);
}

.col-3 {
  width: calc(100%/12*3);
}

.col-4 {
  width: calc(100%/12*4);
}

.col-5 {
  width: calc(100%/12*5);
}

.col-6 {
  width: calc(100%/12*6);
}

.col-7 {
  width: calc(100%/12*7);
}

.col-8 {
  width: calc(100%/12*8);
}

.col-10 {
  width: calc(100%/12*10);
}

.col-12 {
  width: 100%;
}

// 電腦版格線系統 / p-24px (L:12px / R:12px)
@media (max-width: 960px) {
  .row-lg {
    display: flex;
    margin-left: $spacing-s * -1;
    margin-right: $spacing-s * -1;
  }
  
  [class*="col-lg-"] {
      padding-left: $spacing-s;
      padding-right: $spacing-s;
  }
  
  .col-lg {
    width: calc(100%/12);
  }
  
  .col-lg-2 {
    width: calc(100%/12*2);
  }
  
  .col-lg-3 {
    width: calc(100%/12*3);
  }
  
  .col-lg-4 {
    width: calc(100%/12*4);
  }
  
  .col-lg-5 {
    width: calc(100%/12*5);
  }
  
  .col-lg-6 {
    width: calc(100%/12*6);
  }
  
  .col-lg-7 {
    width: calc(100%/12*7);
  }
  
  .col-lg-8 {
    width: calc(100%/12*8);
  }
  
  .col-lg-10 {
    width: calc(100%/12*10);
  }
  
  .col-lg-12 {
    width: 100%;
  }
}

// 平版格線系統 / p-24px (L:12px / R:12px)
@media (max-width:720px) {
  .row-md {
    margin-left: $spacing-s * -1;
    margin-right: $spacing-s * -1;
  }

  [class*="col-md-"] {
      padding-left: $spacing-s * 1;
      padding-right: $spacing-s * 1;
  }

  .col-md {
    width: calc(100%/12);
  }

  .col-md-2 {
    width: calc(100%/12*2);
  }

  .col-md-3 {
    width: calc(100%/12*3);
  }

  .col-md-4 {
    width: calc(100%/12*4);
  }

  .col-md-5 {
    width: calc(100%/12*5);
  }

  .col-md-6 {
    width: calc(100%/12*6);
  }

  .col-md-7 {
    width: calc(100%/12*7);
  }

  .col-md-8 {
    width: calc(100%/12*8);
  }

  .col-md-10 {
    width: calc(100%/12*10);
  }

  .col-md-12 {
    width: 100%;
  }
}

// 卡片幻燈片-平版
@media (max-width: 720px) {
    .card_slideshow-md {
        width: 300px;
        padding-left: $spacing-xs;
        padding-right: $spacing-xs;
    }
}