/* шбищан */
.navigationBar-link {
  font-weight: $tw-weight-500;
  text-decoration: none;
}

.member-login {
  display: block;
  padding: $spacing-s;
  margin-left: auto;
  img {
    width: 18px;
  }
}