// 收藏列表
.cabinet {
    width: calc(636/1296*100%);
    margin: 0 auto;    
    .cabinet_list-box {
        flex: 0 0 calc(136/636*100%);
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }
    .cabinet_format {
        flex: 1 1 auto;
    }
}