// 收藏列表
.cabinet {
    width: calc(636/1296*100%);
    margin: 0 auto;
    .cabinet_list {
        & > li {
            border-bottom: 1px solid $neutral_color-300;
        }
    }
    @include pad {
        & {
            width: 100%;
        }
    }
    .cabinet_list-box {
        box-sizing: content-box;
        flex: 0 0 120px;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }
    .cabinet_format {
        flex: 1 1 auto;
        & li p {
            font-family: "Montserrat", "Noto Sans TC", sans-serif;
        }
    }
}