/* 主標題 */
.title {
    padding: 7px 0;
}

/* 商品選單 */
.menu-link.active {
    color: $primary_color-400;
}

/* 分頁 */
.page-link {
    padding: 8px 15.5px;
}

.page-link.active {
    background-color: $primary_color-300;
}

.page-link.disabled {
    color: $neutral_color-600;
}

@media (max-width: 767px) {
    /* 主標題 */
    .title {
        padding: 9.5px 0;
    }
}