// 客製化導覽列 - 行動版
@include moblie {
    .container-mobile-custom {
        padding: 0;
        .nav-mobile-custom {
            flex-wrap: wrap;
            padding-bottom: 0;
            h1 {
                margin-right: 0;
                padding-left: $spacing-s;
            }
        }
        .menu {
            display: flex;
            order: 1;
            width: 100%;
            padding-top: $spacing-m * 0.8125;
            & li {
                flex: 1 1 50%;
                text-align: center;
            }
            & li:first-child {
                margin-right: 0;
            }
            .navigationBar-link.active {
                background-color: $primary_color-200;
            }
        }
        .member-login {
            margin-right: $spacing-m * 0.8125;
        }
    }
}

// 商品廣告
.mainBanner {
    background: transparent url(/assets/images/banner.png) no-repeat center center / cover;
    &-title {
        padding: 289px 0 288px 200px;
        h2 {
            font-size: $display-1-font-size;
            font-weight: $tw-weight-700;
            color: $neutral_color-white;
            margin-bottom: $spacing-m;
        }
        h3 {
            font-size: $tw-headings-h3;
            font-weight: $tw-weight-700;
            color: $neutral_color-white;
            margin-bottom: $spacing-3xl;
        }
    }
}

@include pad {
    .mainBanner {
        background-image: url(/assets/images/banner-sm.png);
        &-title {
            padding: 155px 24px;
            h2 {
                font-size: $display-2-font-size;
                margin-bottom: $spacing-xs;
            }
            h3 {
                font-size: $tw-headings-h5;
                margin-bottom: $spacing-xl;
            }
        }
    }
}

// 熱銷補貨
.productCard {
    display: block;
    position: relative;
    z-index: 1;
    &_text {
        padding-top: $spacing-xs;
        padding-bottom: $spacing-xs;
        padding-left: $spacing-s;
        padding-right: $spacing-s;
        background-color: $primary_color-100;
        font-size: $tw-label-sm;
        font-weight: $tw-weight-500;
        color: $primary_color-400;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
    }
}

// 次要廣告
.secondaryBanner {
    background: transparent url("/assets/images/banner-co-branded.png") no-repeat center center / cover;
    padding: 100px 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
    @include pad {
        & {
            background-image: url("/assets/images/banner-co-branded-sm.png");
            padding: 64px 0;
        }
    }
    // 裝飾
    .star-img, .sparkle-img {
        position: absolute;
        z-index: 10;
    }

    .star-img {
        width: 48px;
        top: 68px;
        left: calc(50% - 397px);
        @include pad {
            & {
                top: 32px;
                left: -20px;
            }
        }
    }

    .sparkle-img {
        width: 76px;
        right: calc(50% - 357px);
        bottom: 132px;
        @include pad {
            & {
                right: -28px;
                bottom: 104px;
            }
        }
    }
}

// 點
.indicators {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 10;
    left: 50%;
    bottom: $spacing-xs;
    transform: translateX(-50%);
    li {
        .btn-dot {
            background-color: $neutral_color-white;
            padding: 0;
            width: $spacing-xs;
            height: $spacing-xs;
            border-radius: $spacing-m;
        }
        .btn-longer {
            width: $spacing-l;
            background-color: $neutral_color-600;
        }
        &:not(:last-child) {
            margin-right: $spacing-xs;
        }
    }
}

// 依系列選購
.productCard {
    position: relative;
    z-index: 1;
    display: inline-block;
    .overlay {
        position: absolute;
        z-index: 5;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.4;
    }
    &_title {
        position: absolute;
        z-index: 10;
        display: inline-block;
        width: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        h3 {
            font-size: $tw-headings-h3;
            font-weight: $tw-weight-700;
            line-height: $tw-heading-line-height;
            color: $neutral_color-white;
            margin-bottom: $spacing-xs;
            &:hover {
                color: $primary_color-300;
            }
            @include laptop {
                & {
                    font-size: $tw-headings-h5;
                }
            }
            @include pad {
                & {
                    font-size: $tw-headings-h6;
                }
            }
        }
        h4 {
            font-size: $tw-headings-h4;
            font-weight: $tw-weight-700;
            line-height: $tw-heading-line-height;
            color: $neutral_color-white;
            @include laptop {
                & {
                    font-size: $tw-headings-h5;
                }
            }

            @include pad {
                & {
                    font-size: $tw-headings-h6;
                }                
            }
        }
    }
}