// 登入註冊視覺
.picture {
    flex: 0 0 calc(100%/12*5);
    max-height: 589px;
    & source {
        object-fit: cover;
    }
    & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;
    }
}

// 登入註冊選項最層
.counter {
    flex: 1 1 auto;
    padding: 120px 80px;
    background: transparent url("/assets/images/login-bg.png") no-repeat center center / cover;
    @media (max-width: 960px) {
        & {
            padding-top: $spacing-6xl;
            padding-bottom: $spacing-6xl;
            padding-left: $spacing-5xl;
            padding-right: $spacing-5xl;
        }
    }
    @media (max-width: 720px) {
        & {
            padding-top: $spacing-xl;
            padding-bottom: $spacing-xl;
            padding-left: $spacing-s;
            padding-right: $spacing-s;
            background-image: none;
            background-color: $neutral_color-white;
        }
    }
}

// 選單切換 
.switch {
    li {
        flex: 1 1 50%;
        button {
            width: 100%;
            padding-left: $spacing-s;
            padding-right: $spacing-s;
            font-size: $tw-headings-h6;
            line-height: $tw-heading-line-height;
            color: $neutral_color-600;
            font-weight: $tw-weight-700;
            border-bottom: 2px solid $neutral_color-300;
            border-radius: 0;
            &:hover {
                color: $primary_color-500;
            }
            &.active {
                color: $neutral_color-900;
                border-bottom-color: $neutral_color-900;
                &:hover {
                    color: $primary_color-500;
                    border-bottom-color: $primary_color-500;
                }
            }
        }
    }
}

// 登入選項
.choose {
    button {
        width: 100%;
        text-align: left;
        padding-left: $spacing-s;
        padding-right: $spacing-s;
        background-color: $neutral_color-white;
        &:hover {
            color: $primary_color-500;
            border-color: $primary_color-500;
            & img {
                transform: scale(90%);
            }
        }
    }
}