/* 主標題 */
.title {
    padding-top: $spacing-xs * 0.875;
    padding-bottom: $spacing-xs * 0.875;
    @media (max-width: 720px) {
        & {
            padding-top: $spacing-xs * 1.1875;
            padding-bottom: $spacing-xs * 1.1875;
        }
    }
}

/* 商品選單 */
.menu-link.active {
    color: $primary_color-400;
}

/* 分頁 */
.page-link {
    padding-top: $spacing-xs;
    padding-bottom: $spacing-xs;
    padding-left: $spacing-xs * 1.9375;
    padding-right: $spacing-xs * 1.9375;
    &.active {
        background-color: $primary_color-300;
    }
    &.disabled {
        color: $neutral_color-600;
    }
}