/* 價格 */
.original-price {
    font-size: $tw-paragraph-sm;
    font-weight: $tw-weight-400;
    line-height: $tw-label-line-height;
    color: $neutral_color-500;
}

/* 顏色 */
.product-color {
    width: $spacing-5xl;
    &-btn {
        padding: 0;
        border: 0 solid transparent;
        background-color: transparent;
        cursor: pointer;
    }
    &-text {
        font-size: $tw-label-md;
        line-height: $tw-label-line-height;
        text-align: center;
        color: $neutral_color-600;
    }
}

/* 尺寸 */
.option-btn {
    width: 100%;
    font-size: $tw-label-md;
    font-weight: $tw-weight-500;
    line-height: $tw-label-line-height;
    letter-spacing: $tw-letter-spacing;
    text-align: center;
    background-color: $neutral_color-white;
    border: 1px solid $neutral_color-300;
    border-radius: $spacing-xxs;
    padding-top: $spacing-s;
    padding-bottom: $spacing-s;
    padding-left: $spacing-l;
    padding-right: $spacing-l;
    cursor: pointer;
    display: block;
    &.active,
    &:hover {
        border-color: $neutral_color-900;
    }
}

/* 加入收藏&門市預約試穿 */
.shoppingButton {
    width: 100%;
    border-radius: $spacing-xxs;
    @media (max-width: 720px) {
        & {
            padding-left: $spacing-s;
            padding-right: $spacing-s;
            padding-top: $spacing-s;
            padding-bottom: $spacing-s;
        }
    }
}

@media (max-width: 720px) {
    .visually-hidden-button {
        height: 48px;
        border: 0 solid transparent;
        & i {
            font-size: $tw-headings-h4;
            line-height: 1;
            display: inline-block;
            height: $spacing-l;
        }
        & span {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0); 
            white-space: nowrap;
            border: 0;
        }
    }
}

/* 商品說明 */
.product-items {
    padding-top: $spacing-s;
    padding-bottom: $spacing-s;
    border-bottom: 1px solid $neutral_color-300;
    &-content {
        font-size: $tw-paragraph-md;
        color: $neutral_color-600;
    }
}

/* 你可能也喜歡... */
.bestSeller-title {
    padding: 9.5px 0px;
    @media (max-width: 720px) {
        & {
            padding-top: $spacing-xs;
            padding-bottom: $spacing-xs;
        }
    }
}