// variable
$global-font: "Noto Sans TC", sans-serif;
$container: 1320px;
$container-fluid: 100%;
$primary_color-100: #F5FEE7;
$primary_color-200: #E8FEC5;
$primary_color-300: #C0FA73;
$primary_color-400: #57A203;
$primary_color-500: #477A11;
$neutral_color-white: #FFFFFF;
$neutral_color-100: #F8F9FA;
$neutral_color-200: #E9ECEF;
$neutral_color-300: #DEE2E6;
$neutral_color-400: #CED4DA;
$neutral_color-500: #ADB5BD;
$neutral_color-600: #6C757D;
$neutral_color-700: #495057;
$neutral_color-800: #343A40;
$neutral_color-900: #212529;
$danger_color-100: #FCF1F1;
$danger_color-200: #EBA7A7;
$danger_color-300: #D74F4F;
$success_color-100: #EFF8F4;
$success_color-200: #9AD1BA;
$success_color-300: #36A375;
$warning_color-100: #FEF6EC;
$warning_color-200: #F9C588;
$warning_color-300: #F38B12;
$info_color-100: #EEF5FC;
$info_color-200: #97C3ED;
$info_color-300: #3087DB;
$display-1-font-size: 4rem;
$display-2-font-size: 3rem;
$tw-headings-h1: 2.5rem;
$tw-headings-h2: 2rem;
$tw-headings-h3: 1.75rem;
$tw-headings-h4: 1.5rem;
$tw-headings-h5: 1.25rem;
$tw-headings-h6: 1rem;
$tw-label-lg: 1.25rem;
$tw-label-md: 1rem;
$tw-label-sm: 0.875rem;
$tw-label-xs: 0.75rem;
$tw-paragraph-lg: 1.25rem;
$tw-paragraph-md: 1rem;
$tw-paragraph-sm: 0.875rem;
$tw-paragraph-xs: 0.75rem;
$tw-weight-400: 400;
$tw-weight-500: 500;
$tw-weight-600: 600;
$tw-weight-700: 700;
$tw-heading-line-height: 1.2;
$tw-label-line-height: 1.5;
$tw-letter-spacing: 0.05em;
$spacing-xxxs: 4px;
$spacing-xxxs-burden: -4px;
$spacing-xxs: 6px;
$spacing-xxs-burden: -6px;
$spacing-xs: 8px;
$spacing-s: 12px;
$spacing-m: 16px;
$spacing-l: 24px; 
$spacing-xl: 32px;
$spacing-2xl: 40px;
$spacing-3xl: 48px;
$spacing-4xl: 56px;
$spacing-5xl: 64px;
$spacing-6xl: 80px;
$spacing-s-burden: -12px;
$radius-sm: 4px;
$radius-md: 12px;
$radius-rounded: 100px;
$text-primary: var(--neutral_color-900);
$text-secondary: var(--neutral_color-600);
$text-muted: var(--neutral_color-500);
$text-highlight: var(--primary_color-400);
$text-on-dark: var(--neutral_color-white);