<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URBNSTEP_加入收藏</title>
</head>
<body>
    <%- include('./layout/header'); -%>

    <main>
        <div class="container py-64 py-md-24">
            <section class="cabinet">
                <!-- 標題 -->
                <h2 class="h3 h4-md mb-32 mb-md-24 text-center">
                    <img src="/assets/images/Check.svg" alt="確認收藏">
                    我的收藏
                </h2>
                <!-- 營業時間 -->
                <div class="d-flex p-16 mb-32 mb-md-24">
                    <div class="me-12">
                        <img src="/assets/images/truck.svg" alt="門市營業時間">
                    </div>
                    <p class="tw-label-md text-primary-400 bg-primary-100">
                        <span class="d-sm-block">門市營業時間：</span>週一至週五 <time>10:00</time> - <time>22:00</time>
                    </p>
                </div>
                <!-- 收藏列表 -->
                <ul>
                    <li class="pb-32 mb-32">
                        <a href="product-detailed.html" class="d-flex align-items-stretch overflow">
                            <div class="cabinet_list-box pe-16">
                                <img src="/assets/images/product.png" alt="PLATFORM 404">
                            </div>
                            <ul class="cabinet_format">
                                <li>
                                    <h3 class="h5 h6-md mb-8">PLATFORM 404</h3>
                                    <p class="tw-label-md tw-sm-label-sm mb-8">
                                        <span class="tw-paragraph-md tw-sm-paragraph-sm text-neutral-600 me-12">
                                            尺寸
                                        </span>
                                        38
                                    </p>
                                    <p class="tw-label-md tw-sm-label-sm mb-8">
                                        <span class="tw-paragraph-md tw-sm-paragraph-sm text-neutral-600 me-12">
                                            顏色
                                        </span>
                                            Navy
                                    </p>
                                    <p class="h6 text-right text-md-left">NT$2,600</p>
                                </li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </a>
                    </li>
                    <li class="pb-32 mb-32">
                        <a href="product-detailed.html" class="d-flex align-items-stretch overflow">
                            <div class="cabinet_list-box pe-16">
                                <img src="/assets/images/product-4.png" alt="BOOMLOK">
                            </div>
                            <ul class="cabinet_format">
                                <li>
                                    <h3 class="h5 h6-md mb-8">BOOMLOK</h3>
                                    <p class="tw-label-md tw-sm-label-sm mb-8">
                                        <span class="tw-paragraph-md tw-sm-paragraph-sm text-neutral-600 me-12">
                                            尺寸
                                        </span>
                                        38
                                    </p>
                                    <p class="tw-label-md tw-sm-label-sm mb-8">
                                        <span class="tw-paragraph-md tw-sm-paragraph-sm text-neutral-600 me-12">
                                            顏色
                                        </span>
                                            White
                                    </p>
                                    <p class="h6 text-right text-md-left">NT$3,200</p>
                                </li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </a>
                    </li>
                    <li class="pb-32 mb-32">
                        <a href="product-detailed.html" class="d-flex align-items-stretch overflow">
                            <div class="cabinet_list-box pe-16">
                                <img src="/assets/images/product-3.png" alt="MELTY KISS">
                            </div>
                            <ul class="cabinet_format">
                                <li>
                                    <h3 class="h5 h6-md mb-8">MELTY KISS</h3>
                                    <p class="tw-label-md tw-sm-label-sm mb-8">
                                        <span class="tw-paragraph-md tw-sm-paragraph-sm text-neutral-600 me-12">
                                            尺寸
                                        </span>
                                        38
                                    </p>
                                    <p class="tw-label-md tw-sm-label-sm mb-8">
                                        <span class="tw-paragraph-md tw-sm-paragraph-sm text-neutral-600 me-12">
                                            顏色
                                        </span>
                                            Violet
                                    </p>
                                    <p class="h6 text-right text-md-left">NT$4,000</p>
                                </li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </section>
        </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>
</html>