<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
        <div class="mb-64 mb-md-40">
            <section class="productBanner">
                <div class="productBanner-title">
                    <h2>URBNSTEP</h2>
                    <h3>Your Step, Your Statement</h3>
                    <button class="btn btn-primary">立即選購</button>
                </div>
            </section>
        </div>
        <div class="container">
            <section>
                <h2 class="display-2 tw-weight-700 text-center">New Arrival</h2>
                <h3 class="h2 tw-weight-700 text-center">新品上市</h3>
            </section>
        </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>