<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
        <!-- 產品列表 -->
        <div class="container py-32 py-md-16">
            <div class="row">
                <div class="col-12">
                    <!-- 麵包屑 -->
                    <nav class="mb-24 mb-md-12">
                        <ol class="d-flex f-wrap align-items-center">
                            <li class="breadcrumb-items">
                                <a href="#" class="navigationBar-link prohibit">首頁</a>
                            </li>
                            <li class="breadcrumb-items">
                                <a href="product-detailed.html" class="navigationBar-link prohibit">女鞋</a>
                            </li>
                            <li class="breadcrumb-items">
                                <a href="#" class="navigationBar-link">所有商品</a>
                            </li>
                        </ol>
                    </nav>
                    <!-- 主標題 -->
                    <h2 class="h3 mb-24 title h4-md mb-md-12">女鞋</h2>
                    <!-- 內容 -->
                    <div class="row">
                        <div class="col-2 d-md-none">
                            <!-- 商品選單 -->
                            <ul>
                                <li class="py-4 mb-16">
                                    <a href="#" class="tw-label-md menu-link d-block py-8 active">所有商品</a>
                                </li>
                                <li class="py-4 mb-16">
                                    <a href="product-detailed.html" class="tw-label-md menu-link d-block py-8">慢跑鞋</a>
                                </li>
                                <li class="py-4 mb-16">
                                    <a href="product-detailed.html" class="tw-label-md d-block py-8">滑板鞋</a>
                                </li>
                                <li class="py-4 mb-16">
                                    <a href="product-detailed.html" class="tw-label-md d-block py-8">厚底鞋</a>
                                </li>
                                <li class="py-4">
                                  <a href="product-detailed.html" class="tw-label-md d-block py-8">限定 / 聯名企劃</a>
                                </li>
                            </ul>                
                        </div>
                        <div class="col-10 col-md-4">
                            <!-- 商品列 -->
                            <ul class="row">
                                <!-- 商品 -->
                                <li class="col-4 mb-48 col-md-2 mb-md-24">
                                    <a href="product-detailed.html">
                                        <div class="mb-12">
                                            <img src="/assets/images/product.png" alt="商品圖">
                                        </div>
                                        <h6 class="h6 mb-4 mb-md-0">PLATFORM 404</h6>
                                        <p class="tw-label-md">NT$2,600</p>
                                    </a>
                                </li>
                                <!-- 商品 -->
                                <li class="col-4 mb-48 col-md-2 mb-md-24">
                                    <a href="product-detailed.html">
                                        <div class="mb-12">
                                            <img src="/assets/images/product-1.png" alt="商品圖">
                                        </div>
                                        <h6 class="h6 mb-4 mb-md-0">PLATFORM 404</h6>
                                        <p class="tw-label-md">NT$2,600</p>
                                    </a>
                                </li>
                                <!-- 商品 -->
                                <li class="col-4 mb-48 col-md-2 mb-md-24">
                                    <a href="product-detailed.html">
                                        <div class="mb-12">
                                            <img src="/assets/images/product-2.png" alt="商品圖">
                                        </div>
                                        <h6 class="h6 mb-4 mb-md-0">PLATFORM 404</h6>
                                        <p class="tw-label-md">NT$2,600</p>
                                    </a>
                                </li>
                                <!-- 商品 -->
                                <li class="col-4 mb-48 col-md-2 mb-md-24">
                                    <a href="product-detailed.html">
                                        <div class="mb-12">
                                            <img src="/assets/images/product-3.png" alt="商品圖">
                                        </div>
                                        <h6 class="h6 mb-4 mb-md-0">PLATFORM 404</h6>
                                        <p class="tw-label-md">NT$2,600</p>
                                    </a>
                                </li>
                                <!-- 商品 -->
                                <li class="col-4 mb-48 col-md-2 mb-md-24">
                                    <a href="product-detailed.html">
                                        <div class="mb-12">
                                            <img src="/assets/images/product-4.png" alt="商品圖">
                                        </div>
                                        <h6 class="h6 mb-4 mb-md-0">PLATFORM 404</h6>
                                        <p class="tw-label-md">NT$2,600</p>
                                    </a>
                                </li>
                                <!-- 商品 -->
                                <li class="col-4 mb-48 col-md-2 mb-md-24">
                                    <a href="product-detailed.html">
                                        <div class="mb-12">
                                            <img src="/assets/images/product-5.png" alt="商品圖">
                                        </div>
                                        <h6 class="h6 mb-4 mb-md-0">PLATFORM 404</h6>
                                        <p class="tw-label-md">NT$2,600</p>
                                    </a>
                                </li>
                                <!-- 商品 -->
                                <li class="col-4 mb-48 col-md-2 mb-md-24">
                                    <a href="product-detailed.html">
                                        <div class="mb-12">
                                            <img src="/assets/images/product-6.png" alt="商品圖">
                                        </div>
                                        <h6 class="h6 mb-4 mb-md-0">PLATFORM 404</h6>
                                        <p class="tw-label-md">NT$2,600</p>
                                    </a>
                                </li>
                                <!-- 商品 -->
                                <li class="col-4 mb-48 col-md-2 mb-md-24">
                                    <a href="product-detailed.html">
                                        <div class="mb-12">
                                            <img src="/assets/images/product-7.png" alt="商品圖">
                                        </div>
                                        <h6 class="h6 mb-4 mb-md-0">PLATFORM 404</h6>
                                        <p class="tw-label-md">NT$2,600</p>
                                    </a>
                                </li>
                                <!-- 商品 -->
                                <li class="col-4 mb-48 col-md-2 mb-md-32">
                                    <a href="product-detailed.html">
                                        <div class="mb-12">
                                            <img src="/assets/images/product-8.png" alt="商品圖">
                                        </div>
                                        <h6 class="h6 mb-4 mb-md-0">PLATFORM 404</h6>
                                        <p class="tw-label-md">NT$2,600</p>
                                    </a>
                                </li>
                                <!-- 商品 -->
                                <li class="col-4 mb-48 col-md-2 mb-md-32 d-none d-md-block">
                                    <a href="product-detailed.html">
                                        <div class="mb-12">
                                            <img src="/assets/images/product-9.png" alt="商品圖">
                                        </div>
                                        <h6 class="h6 mb-4 mb-md-0">PLATFORM 404</h6>
                                        <p class="tw-label-md">NT$2,600</p>
                                    </a>
                                </li>
                            </ul>
                            <!-- 分頁 -->
                            <nav>
                                <ul class="d-flex justify-content-center align-items-center">
                                    <li class="me-12">
                                        <button type="button" class="btn btn-neutral-filled page-link" disabled>
                                            <i class="bi bi-chevron-left"></i>
                                        </button>
                                    </li>
                                    <li class="me-8">
                                        <button type="button" class="btn btn-neutral-filled page-link active">
                                            1
                                        </button>
                                    </li>
                                    <li class="me-8">
                                        <button type="button" class="btn btn-neutral-filled page-link">
                                            2
                                        </button>
                                    </li>
                                    <li class="me-8">
                                        <button type="button" class="btn btn-neutral-filled page-link">
                                            3
                                        </button>
                                    </li>
                                    <li class="me-8">
                                        <button type="button" class="btn btn-neutral-filled page-link">
                                            ...
                                        </button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn btn-neutral-filled page-link">
                                            <i class="bi bi-chevron-right"></i>
                                        </button>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
