<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
        <div class="container mb-64 mb-md-40">
            <picture>
                <source srcset="image-large.jpg" media="(max-width: 720px)">
                <source srcset="image-medium.jpg" media="(max-width: 540px)">
                <img src="image-small.jpg" alt="描述圖片內容">
            </picture>
        </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>