<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URBNSTEP_登入註冊頁</title>
</head>
<body>
    <%- include('./layout/header'); -%>
    <main>
        <div class="container">
            <div class="d-flex">
                <!-- 登入註冊視覺 -->
                <picture class="picture me-24 me-md-0">
                    <source srcset="/assets/images/login-sm.png" media="(max-width:540px)">
                    <img src="/assets/images/login.png" alt="登入註冊頁">
                </picture>
                <!-- 登入註冊選項 -->
                <section class="counter borderRadius-12 borderRadius-sm-0 px-sm-12">
                        <h2 class="h3 h4-sm text-center mb-32 mb-md-24">歡迎！</h2>
                        <ul class="switch d-flex mb-32 mb-md-24">
                            <li><button type="button" class="btn switch_primary active">登入</button></li>
                            <li><button type="button" class="btn switch_primary">註冊</button></li>
                        </ul>
                        <ul class="choose">
                            <li><button class="btn text-left w-100">Facebook 登入</button></li>
                            <li><button class="btn text-left w-100">Apple 登入</button></li>
                            <li><button class="btn text-left w-100">Google 登入</button></li>
                        </ul>
                </section>
            </div>
        </div>
    </main>   
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>
</html>