<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URBNSTEP_商品詳情頁</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <%- include('./layout/header'); -%>
    <main>
        <!-- 產品資訊 -->
        <div class="container py-64 py-md-0">
            <div class="row row-md f-wrap">
                <div class="col-7 col-md-12 mb-md-24">
                    <!-- 商品列 -->
                    <ul class="row row-md f-wrap mx-4-burden">
                        <!-- 商品 -->
                        <li class="col-6 col-md-12 px-4 px-md-0 mb-8">
                            <a href="product-detailed.html">
                                <img src="/assets/images/image.png" alt="商品圖">
                            </a>
                        </li>
                        <!-- 商品 -->
                        <li class="col-6 px-4 d-md-none mb-8">
                            <a href="product-detailed.html">
                                <img src="/assets/images/image-1.png" alt="商品圖">
                            </a>
                        </li>
                        <!-- 商品 -->
                        <li class="col-6 px-4 d-md-none mb-8">
                            <a href="product-detailed.html">
                                <img src="/assets/images/image-2.png" alt="商品圖">
                            </a>
                        </li>
                        <!-- 商品 -->
                        <li class="col-6 px-4 d-md-none mb-8">
                            <a href="product-detailed.html">
                                <img src="/assets/images/image-3.png" alt="商品圖">
                            </a>
                        </li>
                        <!-- 商品 -->
                        <li class="col-6 px-4 d-md-none mb-8">
                            <a href="product-detailed.html">
                                <img src="/assets/images/image-4.png" alt="商品圖">
                            </a>
                        </li>
                        <!-- 商品 -->
                        <li class="col-6 px-4 d-md-none mb-8">
                            <a href="product-detailed.html">
                                <img src="/assets/images/image-5.png" alt="商品圖">
                            </a>
                        </li>
                        <!-- 商品 -->
                        <li class="col-6 px-4 d-md-none">
                            <a href="product-detailed.html">
                                <img src="/assets/images/image-6.png" alt="商品圖">
                            </a>
                        </li>
                        <!-- 商品 -->
                        <li class="col-6 px-4 d-md-none">
                            <a href="product-detailed.html">
                                <img src="/assets/images/image-7.png" alt="商品圖">
                            </a>
                        </li>
                    </ul>            
                </div>
                <div class="col-5 col-md-12">
                    <!-- 麵包屑 -->
                    <nav class="mb-12 mb-md-8">
                        <ol class="d-flex f-wrap align-items-center">
                            <li class="breadcrumb-items">
                                <a href="index.html" class="navigationBar-link prohibit">首頁
                                </a>
                            </li>
                            <li class="breadcrumb-items">
                                <a href="index.html" class="navigationBar-link prohibit">
                                    女鞋
                                </a>
                            </li>
                            <li class="breadcrumb-items">
                                <a href="index.html" class="navigationBar-link prohibit">
                                    滑板鞋
                                </a>
                            </li>
                            <li class="breadcrumb-items">
                                <a class="navigationBar-link">
                                    Platform 404
                                </a>
                            </li>
                        </ol>
                    </nav>
                    <!-- 商品名稱 -->
                    <h2 class="h2 h4-md mb-16 mb-md-12">Platform 404</h2>
                    <!-- 價格 -->
                    <h3 class="h5 h6-md text-primary-400 me-8 mb-16 mb-md-12">
                        NT12,600
                        <del class="original-price">NT$3,200</del>
                    </h3>
                    <!-- 商品介紹文 -->
                    <div class="mb-32">
                        <p class="mb-12">Platform 404 以柔和奶白為底，搭配深藍色皮革點綴，走在街上自帶回頭率。鞋型採用復古運動風輪廓，結合輕量厚底與柔軟泡棉鞋舌，兼顧美感與舒適。</p>
                        <p>鞋身選用柔軟皮革材質，打造出清新卻不失個性的氛圍，並以鞋面透氣孔設計提升穿著體驗，兼顧質感與舒適度，適合日常長時間著用。無論是街頭穿搭、日常通勤或週末出遊都能輕鬆駕馭。</p>
                    </div>
                    <!-- 顏色 -->
                    <div class="mb-32 mb-md-24">
                        <h4 class="tw-paragraph-md mb-8">顏色</h4>
                        <ul class="d-flex align-items-center">
                            <li class="product-color me-8">
                                <button type="button" class="product-color-btn">
                                    <div class="mb-4">
                                        <img src="/assets/images/product.png" alt="商品顏色">
                                    </div>
                                    <p class="product-color-text">藍色</p>
                                </button>
                            </li>
                            <li class="product-color">
                                <button type="button" class="product-color-btn">
                                    <div class="mb-4">
                                        <img src="/assets/images/product-1.png" alt="商品顏色">
                                    </div>
                                    <p class="product-color-text">卡其色</p>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <!-- 尺寸 -->
                    <div class="mb-48 mb-md-24">
                        <h4 class="tw-paragraph-md mb-8">尺寸</h4>
                        <ul class="row row-md mx-4-burden f-wrap mb-8">
                            <li class="col-4 col-lg-6 px-4 mb-8">
                                <button class="option-btn active">35(22.5cm)</button>
                            </li>
                            <li class="col-4 col-lg-6 px-4 mb-8">
                                <button class="option-btn">36(23.0cm)</button>
                            </li>
                            <li class="col-4 col-lg-6 px-4 mb-8">
                                <button class="option-btn">37(23.5cm)</button>
                            </li>
                            <li class="col-4 col-lg-6 px-4 mb-8">
                                <button class="option-btn">38(24.0cm)</button>
                            </li>
                            <li class="col-4 col-lg-6 px-4 mb-8">
                                <button class="option-btn">39(24.5cm)</button>
                            </li>
                            <li class="col-4 col-lg-6 px-4 mb-8">
                                <button class="option-btn">40(25.0cm)</button>
                            </li>
                            <li class="col-4 col-lg-6 px-4">
                                <button class="option-btn">41(26.0cm)</button>
                            </li>
                            <li class="col-4 col-lg-6 px-4">
                                <button class="option-btn" disabled>42(26.5cm)</button>
                            </li>
                            <li class="col-4 col-lg-6 px-4">
                                <button class="option-btn" disabled>43(27.0cm)</button>
                            </li>
                        </ul>
                        <p class="text-danger-300 tw-paragraph-sm">僅剩 3 雙</p>
                    </div>
                    <!-- 加入收藏 & 門市預約試穿 -->
                    <div class="d-flex align-items-center mb-32 f-md-reverse-row">
                        <div class="w-50 me-8 me-md-0 w-md-15">                            
                            <button type="button" class="btn btn-neutral-filled btn-white shoppingButton visually-hidden-button">
                                <i class="bi bi-heart"></i>
                                <span>加入收藏</span>
                            </button>
                        </div>
                        <div class="w-50 me-md-8 w-md-100">                            
                            <button type="button" class="btn btn-neutral-filled btn-dark shoppingButton">
                                <i class="bi bi-handbag"></i>
                                <span>門市預約試穿</span>
                            </button>
                        </div>
                    </div>
                    <!-- 商品說明 -->
                    <ul>
                        <li class="product-items">
                            <h4 class="tw-label-md mb-4">商品材質</h4>
                                <ul class="product-content">
                                    <li>鞋面：合成皮革（Synthetic Leather）</li>
                                    <li>內裡：透氣網布材質，提升舒適與排汗性</li>
                                    <li>鞋底：EVA 輕量發泡橡膠，具備良好緩震與止滑效果</li>
                                    <li>鞋帶：聚酯纖維，耐拉扯不易鬆脫</li>
                                </ul>
                            </p>
                        </li>
                        <li class="product-items">
                            <h4 class="tw-label-md mb-4">購買須知</h4>
                            <ul class="product-content">
                                <li>商品顏色因螢幕顯示可能略有差異，請以實品為準。</li>
                                <li>建議首次穿著前試穿確認尺寸，避免影響退換貨權益。</li>
                                <li>本商品為限量發售，庫存有限，如需更換尺寸請儘早聯繫客服協助處理。</li>
                            </ul>
                        </li>
                        <li class="product-items">
                            <h4 class="tw-label-md mb-4">保養方式</h4>
                            <ul class="product-content">
                                <li>建議以乾布或微濕軟布擦拭表面汙漬，避免機洗或長時間浸水。</li>
                                <li>收納時請放置於乾燥通風處，避免日曬及高溫導致變形或龜裂。</li>
                                <li>若需深層清潔，建議使用中性清潔劑並搭配柔刷輕刷，勿使用漂白水或強酸強鹼清潔劑。</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 你可能也喜歡 -->
        <div class="container py-48 py-md-40">
            <h2 class="h4 h5-md mb-16 bestSeller-title">你可能也喜歡...</h2>
            <ul class="row row-md mx-8-md-burden f-wrap f-md-noWrap overflow-md-y">
                <!-- 商品 -->
                <li class="col-3 card_slideshow-md f-md-shrink">
                    <a href="product-detailed.html">
                        <div class="mb-12">
                            <img src="/assets/images/product-2.png" alt="商品圖">
                        </div>
                        <h6 class="h6 mb-4">PLATFORM 404</h6>
                        <p class="tw-label-md">NT$2,600</p>
                    </a>
                </li>
                <!-- 商品 -->
                <li class="col-3 card_slideshow-md f-md-shrink">
                    <a href="product-detailed.html">
                        <div class="mb-12">
                            <img src="/assets/images/product-3.png" alt="商品圖">
                        </div>
                        <h6 class="h6 mb-4">PLATFORM 404</h6>
                        <p class="tw-label-md">NT$4,000</p>
                    </a>
                </li>
                <!-- 商品 -->
                <li class="col-3 card_slideshow-md f-md-shrink">
                    <a href="product-detailed.html">
                        <div class="mb-12">
                            <img src="/assets/images/product-4.png" alt="商品圖">
                        </div>
                        <h6 class="h6 mb-4">PLATFORM 404</h6>
                        <p class="tw-label-md">NT$3,200</p>
                    </a>
                </li>
                <!-- 商品 -->
                <li class="col-3 card_slideshow-md f-md-shrink">
                    <a href="product-detailed.html">
                        <div class="mb-12">
                            <img src="/assets/images/product-7.png" alt="商品圖">
                        </div>
                        <h6 class="h6 mb-4">PLATFORM 404</h6>
                        <p class="tw-label-md">NT$3,200</p>
                    </a>
                </li>
            </ul>
        </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>
</html>